{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "insight@vizibiliti-insight.co.za",
      "Space": "DataSciX"
    },
    "Name": "insurance-bot-dashboard",
    "Instrumentation": {
      "domain": "mybluemix.net"
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}